<div class="header">
    <nav class="navbar navbar-expand-lg">
      <!-- <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <h1 style="font-weight: 550; color: white !important;">?</h1>
      </button> -->
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/personal-information">Personal Infomation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/work-experience">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
